<div id='homepage-content'>

  <header>
    <section>
      <h1>Biscuit tin performance</h1>
      <p class="lead">
        Our statistics show you how our biscuit tin is doing
      </p>
      <p class="lead">
        We show the latest information about our biscuit tin as soon as it becomes available.
      </p>
    </section>

  </header>

  <section id="service-dashboards">
    <h2>Dashboards</h2>
    <div class="cols3 service-listing">
      <h3>Detailed dashboards</h3>
      <p class="count"><%= services.length + serviceGroups.length %></p>
    </div>
    <div class="cols3 add3">
      <p>Biscuit tins providing regularly updated, detailed data to GOV.UK</p>
      <div class="cols2 service-listing">
        <ul>
          <% _.each(services, function (service, i) { %>
            <li><a href="/performance/<%= service.slug %>"><%= service.title %></a></li>
            <% if (i + 1 === Math.ceil((services.length + serviceGroups.length) / 2)) { %>
              </ul>
            </div>
            <div class="cols2 service-listing">
              <ul>
            <% } %>
          <% }); %>
        </ul>
        <% if (serviceGroups.length) { %>
          <dl>
            <dt class="service_groups">Service groups</dt>
            <dd>
              <ol>
                <% _.each(serviceGroups, function (service, i) { %>
                  <li><a href="/performance/<%= service.slug %>"><%= service.title %></a></li>
                <% }); %>
              </ol>
            </dd>
          </dl>
        <% } %>
      </div>
    </div>
  </section>
</div>
